:root{
  --background-general: #FFFFFF;
  --background-slogan: #2F303A;
  --color-logo: #000000;
  --color-general: #212121;
  --color-last: #757575;
  --color-link: #2196f3;
  --color-slogan: #ffffff;
}


body {
  background-color: var(--background-general);
  color: var(--gcolor-general);
  font-family: 'Raleway', sans-serif;
  font-family: 'Roboto', sans-serif;
}

/* logotip */
.logo-color-up {
  position: absolute;
  width: 145px;
  height: 31px;
  left: 215px;
  top: 24px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--color-link);
}
.logo-color-up:hover,
.logo-color-up:focus {
  color: var(--color-logo);
}
.logo-up {
  font-family: 'Raleway';
  color: var(--color-logo);
}
.logo-up:hover,
.logo-up:focus {
  color: var(--color-link);
}
.logo-color-down {
  position: absolute;
  width: 145px;
  height: 31px;
  left: 215px;
  top: 2154px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--color-link);
}
.logo-color-down:hover,
.logo-color-down:focus {
  color: var(--color-slogan);
}
.logo-down {
  font-family: 'Raleway';
  color: var(--color-slogan);
}
.logo-down:hover,
.logo-down:focus {
  color: var(--color-link);
}

/* menu nav */
.dot {
  list-style: none;
}
.nav .link {
  color: var(--color-general)
}
.nav .link:hover,
.nav .link:focus {
  color: var(--color-link);
}
.nav .link.current {
  color: var(--color-link);
}
.contakt .link {
    color: var(--color-last);
}
.contakt .link:hover,
.contakt .link:focus {
  color: var(--color-link);
}
/* button */
.button {
  background-color: var(--color-link);
  color: var(--color-slogan);
}




/* finish */
.address {
  color: var(--color-slogan);
}
.address .link {
  color: var(--color-slogan);
}
.address .link:hover,
address .link:focus {
  color: var(--color-link);
}