:root{
  --general-color: #212121;
  --last-color: #757575;
  --link-color: #2196f3;
  --general-background: #FFFFFF;
  --slogan-background: #2F303A;
}


body {
  background-color: var(--general-background);
  font-family: 'Raleway', sans-serif;
  font-family: 'Roboto', sans-serif;
}
/* identical to box height */
.logo-color {
  position: absolute;
  width: 145px;
  height: 31px;
  left: 215px;
  top: 24px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--link-color);
}
.logo {
  font-family: 'Raleway';
  color: #000000;
}
/* Menu Nav */
.nav {
  position: absolute;
  width: 281px;
  height: 16px;
  left: 453px;
  top: 32px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}
.nav-ul {
  list-style: none;
}
.nav-li {
  float: left;
  padding: 0 10px;
}
.decor-studiya {
  text-decoration: none;
  color: var(--link-color);
}
.decor-contakt {
  text-decoration: none;
  color: var(--general-color);
}
.contakt{
  list-style: none;
  position: absolute;
  width: 300px;
  height: 16px;
  left: 1078px;
  top: 32px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}
.contakt-li{
  float: left;
  padding: 0 10px;
}