body {
  font-family: 'Raleway', sans-serif;
  font-family: 'Roboto', sans-serif;
}
/* identical to box height */
.logo-color {
  position: absolute;
  width: 145px;
  height: 31px;
  left: 215px;
  top: 24px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #2196f3;
}
.logo {
  font-family: 'Raleway';
  color: #000000;
}
/* Menu Nav */
.Menu-Nav {
position: absolute;
    width: 1600px;
    height: 80px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
}

/* (поінтери) */
.pointer {
  
}
